extends plugin

append script
    script(src="/static/js/admin.js")

append style
    link(rel='stylesheet', href='/static/css/admin.css')

append content
    div#manager.shadow.flex-column.flex-grow
        div.header
            a#users Users
            a#plugins Plugins
            a#settings Settings
        div#canvas