doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block style
            link(rel='stylesheet', href='/static/css/stylesheet.css')
        title Pangolin - Plugin Manager
    body
        block body

    block script
        script(src="/static/js/external/jquery.js")
