@import "variables";

.content {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: @color-main-off;
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;

  box-sizing: border-box;
  padding: 0px 20px;

  a {
    background-color: #414B54;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;

    flex-grow: 1;
    text-align: center;
  }

  a:hover {
    background-color: #A7AAAF;
  }

  .selected {
    background-color: #A7AAAF;
    font-weight: bold;
  }
}

#canvas {
  width: 100%;
  flex-grow: 1;
  background-color: @color-main;
  border: 5px solid @color-main-off;

  box-sizing: border-box;
}