@import "variables";

body {
  background-color: transparent;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

table {
  border-spacing: 0;

  td,th {
    border-bottom: 2px solid @color-highlight;
    padding: 10px 20px;
    min-width: 50px;
  }

  tr:hover:not(:has(th)) {
    background-color: lighten(@color-highlight, 35%);
  }
}

button {
  border: none;
  outline: none;
  background-color: @color-highlight;
  color: @color-highlight-contrast;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: @border-radius;
}

input {
  outline: none;
  border: 2px solid @color-highlight;
  border-radius: @border-radius;
  padding: 5px 10px;
}

input:focus, textarea:focus {
  border-color: @color-subtle;
}

.content {
  padding: 50px;
  background-color: @color-main;
  flex-grow: 1;
}

.bold {
  font-weight: bold;
}

.bordered {
  border: 2px solid @color-highlight
}

.shadow {
  box-shadow: 0 5px 10px #EFEFEF;
}

textarea {
  border-radius: @border-radius;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, serif;
}

.flex-full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-nogrow {
  flex-grow: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-10px {
  gap: 10px;
}

.gap-20px {
  gap: 20px;
}

.gap-40px {
  gap: 40px;
}

.text-medium {
  font-size: 25px;
}

.text-big {
  font-size: 30px;
}

.text-verybig {
  font-size: 40px;
}

.padding-10px {
  padding: 10px;
}
