table
    tr
        th 1
        th 2
        th 3
        th 4
        th 5
    tr
        td#1
        td#2
        td#3
        td#4
        td#5

script.
    function fetchData() {
        fetch('/plugin/rnum/data')
            .then(response => response.json())
            .then(data => {
                const numbers = data.numbers;
                if (numbers && numbers.length >= 5) {
                    document.getElementById('1').textContent = numbers[0];
                    document.getElementById('2').textContent = numbers[1];
                    document.getElementById('3').textContent = numbers[2];
                    document.getElementById('4').textContent = numbers[3];
                    document.getElementById('5').textContent = numbers[4];
                }
            })
        .catch(error => console.error('Error fetching data:', error));
    }

    // Call fetchData every 1 second
    setInterval(fetchData, 1000);
