div#wrapper-table
    table
        thead
            tr
                th#th-name Name
                th#th-status Status
                th#th-actions Actions
        tbody
            each plugin in plugins
                tr(id=`plugin-${plugin}`)
                    td=plugin
                    td.status ...
                    td.flex-row.gap-10px.flex-full-center
                        button.start Start
                        button.stop Stop
                        button.select Select

div#selection.flex-column.gap-10px
    div.flex-row.gap-10px
        a.bold Logs for selected Plugin:
        a#selected-name

    textarea.bordered

style.

    #selection {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-grow: 3;
    }

    #wrapper-table {
        flex-grow: 1;
    }

    table {
        flex-grow: 0;
        width: 100%;
    }

    textarea {
        flex-grow: 1;
        resize: none;
    }

    td, th {
        box-sizing: border-box;
        text-align: center;
    }